@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200&family=Maven+Pro&family=Montserrat:ital,wght@0,600;0,700;1,700&family=Roboto:ital,wght@0,100;1,300;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.contact_container {
    display: flex;
    position: absolute;
    /* background-color:rgb(173, 22, 22) ; */
    width: 1347px;
    height: 100%;
    top: 0;
    left: 360.5px;
    justify-content: center;
    align-items: center;
  }
  .formulaire{
    display: flex;
    position: absolute;
    width: 1100px;
    height: 700px;
    background-color: #050404de;
    border-radius: 55px;
  }
  .contact_me{
    display: flex;
    position: relative;
    color: aliceblue;
    font-family: "Montserrat";
    font-size:40px ;
    margin-top: 40px;
    border-bottom: solid 1px gainsboro;
    height: 80px;
    width: 240px;
    margin-left: 432.5px;
  
  }
  .better_together{
    display: flex;
    position: relative;
    color: aliceblue;
    font-family:"Roboto";
    font-size:53px ;
    width: 451px;
    height: 100px;
    margin-left: -324.5px;
    /* background-color: aqua; */
    margin-top: 120px;
  
  }
  .container2{
    display: flex;
    position: absolute;
    margin-top: 250px;
  }
  .input1{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 400px;
    height: 70px;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 100px;
    border: 2px solid #ffff;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .input2{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 400px;
    height: 70px;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 580px;
    border: 2px solid #ffff;
    padding-left: 10px;
    margin-top: -80px;
    margin-bottom: 10px;
  }
  .input3{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 400px;
    height: 70px;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 100px;
    border: 2px solid #ffff;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .input4{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 400px;
    height: 70px;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 580px;
    border: 2px solid #ffff;
    padding-left: 10px;
    margin-top: -80px;
    margin-bottom: 10px;  
  }  .input5{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 879px;
    height: 70px;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 100px;
    border: 2px solid #ffff;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .input6{
    display: flex;
    position: absolute;
    background-color: transparent;
    width: 879px;
    height: 70px;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    margin-left: 100px;
    border: 2px solid #ffff;
    padding-left: 10px;
    margin-bottom: 10px; 
    max-height: 120px; 
  }
  .btn{
    display: flex;
    position: fixed;
    width: 170px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 465px;
    margin-top: 130px;
  }